body {
    background-color: darkgray;
}

li {
    font-weight: bold;
}

#button-div {
    margin: 20px;
}
#play-button:hover, #reset-button:hover, #rock:hover, #paper:hover, #scissors:hover {
    cursor: pointer;
}
header {
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}
#win-loss-draw {
    padding-top: 30px;
}
#show-win-image, #show-lose-image {
    display: none;
}
#show-message {
    font-size: 48px;
}